.home-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #2980b9, #000000, #00bcd4, #ffffff);
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}

.home-header h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
}

.home-body header h1 {
    font-size: 36px;
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

    
}

.home-body header .btn {
    display: inline-block;
    background-color: #2c3e50; /* Color del botón */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-body header .btn:hover {
    background-color: #34495e; /* Cambio de color al pasar el ratón sobre el botón */
}

