<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Enlace al archivo CSS personalizado -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home-body">
    <div class="container">
        <header>
            <h1>Bienvenido a la vista HOME!</h1>
            <!-- Botón para ir a la ruta de registro -->
            <a href="autenticacion/registro" class="btn">Registro</a>
        </header>
    </div>
</body>

</html>






